.userName{

    font-size: 34px;
    font-weight: bold;
}

.userImg{

    margin-left: 20px;
    margin-bottom: 20px;
    background-color: white;
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}

.clubCard{

    margin-bottom: 20px;
    --padding-start: 0;
   
}

.clubImg{
    height: 110px;
    width: 80px;
    margin-top: 0;
    margin-bottom: 0;
    object-fit: cover;
}

.myList{

    max-width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.title{
    padding-left: 6px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 12px;
    color: #48505C;
}