<ion-header>
  <ion-toolbar  mode="md">
   
    <ion-title>{{'Edit data'|translate}}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button   (click)="cancel()" style="--color:#0D8C8F; text-transform: capitalize;">
      {{'Cancel'|translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">{{'Your name'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="docData.u1">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'Your DNI'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="docData.u1_DNI">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{'Your city'|translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="docData.u1_address.city">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{'Your child name'|translate}}</ion-label>
              <ion-input type="text" [(ngModel)]="docData.c">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{'Your child birthday'|translate}}</ion-label>
              <ion-datetime  displayFormat="MM/DD/YYYY" min="1980-01-01" max="2040-12-01" value="" [(ngModel)]="docData.cBdate">
              </ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">{{'Your child DNI'|translate}} (optional)</ion-label>
                  <ion-input type="text" [(ngModel)]="docData.cDni">
                  </ion-input>
                </ion-item>
  </ion-list>

</ion-content>
<ion-footer class="ion-no-border" style="background:#fff">
  <ion-button expand="block" class="loginButton" (click)="saveData()">{{'Save data' | translate}}</ion-button>
 
</ion-footer>
