<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-text-wrap"><span  class="userName ion-text-wrap">{{'About'|translate}}</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  Childfy es una una plataforma que conecta familias para compartir trayectos a centros escolares y/o actividades extraescolares. <br> Esta aplicación se encuentra en fase beta o de pruebas y por tanto no está completamente libre de fallos.<br> Childfy ha sido desarrollado por Soluciones de Movilidad para Familias SL con CIF B01751965

</ion-content>