.signupTitle{
    color: white;
    font-size:24px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 10px;
   
    text-align: center;
}
.signupText{
    color: white;
    font-size:18px ;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 6px;
}

.okImg{

    display: block;
    margin-right: auto;
    margin-left: auto;

    margin-top: 60px;
}