<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="cBg">
  <ion-slides pager="true" class="upperSlider">
    <ion-slide>
<div class="slideText"><b><h2>Hola!</h2></b> <br> {{'Childfy creates communites around schools and Academia so children can carpool with trusted parents.'| translate}}<br>{{'Lets clear your schedule!' | translate}}

</div>
    </ion-slide>
    <ion-slide>
      <div class="slideText"><b><h2>{{'By families'| translate}}<br>
        {{'For families'| translate}}</h2></b> <br> {{'We’re parents too so we’re taking safety seriously.'|translate}}<br>{{'All our members are verified.'|translate}}

      </div>
    </ion-slide>
   
  </ion-slides>
  
  <div class="playerHolder">

  <lottie-player  autoplay loop src="/assets/onAnim.json" class="cbottomImage" background="transparent"   speed="1"   ></lottie-player>

  </div>

  <!-- <img src="/assets/c1.png" class="cbottomImage"> -->
  <ion-button fill="solid" expand="block" class="loginButton" (click)="continue()">{{'Login' | translate}}</ion-button>

</ion-content>
