<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-text-wrap"><span  class="userName ion-text-wrap">{{'My Profile'| translate}}</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-avatar class="userImg">
  <img src="/assets/userPlaceholder.png" style="object-fit: scale-down;max-width: 80%;">
</ion-avatar>

<ion-list>
  <ion-item>
    <ion-label position="stacked">{{'Name'|translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="user.name">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{'Surname'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="user.surname">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">{{'Date of birth'|translate}}</ion-label>
        <ion-datetime   class="cInput" displayFormat="DD/MM/YYYY" min="1900-01-01" max="2040-12-01" value="" [(ngModel)]="user.date"></ion-datetime>
        </ion-item>

    <ion-item >
      <ion-label position="stacked">DNI/NIE</ion-label>
        <ion-input type="text" [(ngModel)]="user.dni">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">{{"Language" | translate}}</ion-label>
        <!-- <ion-input class="cInput"></ion-input> -->
        <ion-select class="cInput" interface="popover" placeholder="Select One" [(ngModel)]="user.lngCode">
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="es">Espanol</ion-select-option>
          <ion-select-option value="pt">Português</ion-select-option>
          
        </ion-select>
      </ion-item>


</ion-list>

</ion-content>


<ion-footer class="ion-no-border" style="background:#fff">
  <ion-button expand="block" class="loginButton" (click)="saveProfile()">{{'Update profile' | translate}}</ion-button>
</ion-footer>
