.userName{

    font-size: 34px;
    font-weight: bold;
}

.userImg{
    background-color: white;
    text-align: center;
    width: 100px;
    height: 100px;

}

.myName{
font-weight: bold;

}

.myEmail{
font-size: 11px;

}

.myList{

    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #E4EAF3;
    --background:#E4EAF3;
}



