.overLay{

    background-color: white;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: fit-content;
    min-height: 100%;
}
ion-segment-button{
    text-transform: initial;
    font-weight: bold;
    font-size: calc((75vw - 4.5rem) / 6);
    color: #0D8C8F;
}
ion-segment {
    max-width: 80%;
}

.cInput{

    border: 1px solid #0D8C8F;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 5px;
}
.special{
    width: 100%;
    line-height: 42px;
    height: 42px;

}

.loginButton{

    --background:#0D8C8F;
    color:#ffffff;
   margin-bottom: 10px;
   margin-top: 10px;
    width: 90%;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    text-transform: unset;
}